.corpo {
    background-color: white;
    justify-content: center;
    display: inline-block;
    text-align: center;
    align-items: center;
    margin-top: auto;
}
body{
    place-items: center;
    background-image: url("assets/cachorros_fundo.jpg");
}

.corpo {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
